@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('../public/images/gradient-left-dark.svg'), url('../public/images/gradient-right-dark.svg');
  background-size: 200% 200%;
  background-attachment: fixed;
  background-position: top left, center right;
}

@font-face {
  src: url('../public/fonts/NakoneStencilItalic.otf');
  font-family: 'NakoneStencilItalic';
}

@font-face {
  src: url('../public/fonts/CrimsonText-Regular.ttf');
  font-family: 'CrimsonText-Regular';
}